.git
.github
.codegraph
node_modules
npm-debug.log
*.md
dist
tests
docs
scripts
bacon.toml
docker-compose.yaml
docker-compose.develop.yaml
coverage
deploy
bucket
LICENSE
README.md
.eslintrc
.eslintrc.js
.eslintignore
.prettierrc
.prettierignore
.gitignore
target/
.env
