.empty-placeholder {
	position: absolute;
	inset: 0;
	display: flex;
	flex: 1 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.items {
		display: flex;
		justify-content: space-between;
		width: 232px;
	}
}
