.storage-item-wrapper {
	display: flex;
	align-items: center;
	height: 44px;
	padding: 0 10px;
	margin: 0 10px;
	font-size: 14px;
	cursor: pointer;
	border-radius: 10px;

	&:hover {
		background: rgb(132 133 141 / 8%);
	}

	&.disabled {
		cursor: not-allowed;
		background: unset;
		opacity: 0.5;
	}

	.icon {
		display: flex;
		align-items: center;
		width: 28px;
		min-height: 28px;
		max-height: 100%;
		margin-right: 16px;
	}

	.icon-placeholder {
		width: 28px;
		height: 28px;
		background-repeat: no-repeat;
		background-position: center;
		background-size: 100%;
	}

	span {
		display: inline-block;
		max-width: 100%;
		overflow: hidden;
		color: rgb(37 38 43);
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
