.header {
	display: flex;
	flex-shrink: 0;
	align-items: center;
	justify-content: space-between;
	height: 40px;
	padding: 0 40px;
	margin-bottom: 24px;
	white-space: nowrap;

	.page-title {
		position: relative;
		display: flex;
		flex-direction: row;
		flex-grow: 1;
		align-items: center;
		height: 100%;
		margin-right: 24px;
		overflow: hidden;

		.el-breadcrumb {
			display: flex;
			align-items: center;
			min-width: 24px;
			font-size: 18px;
			line-height: 1.4;

			&__item {
				white-space: nowrap;
				cursor: pointer;

				&:last-child {
					width: 100%;
					min-width: 0;
					font-weight: 700;

					.el-breadcrumb__inner {
						width: 100%;
						min-width: 0;
					}
				}
			}
		}

		.breadcrumb-item-content {
			max-width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;

			&.highlight {
				width: 100%;
				min-width: 0;
				font-weight: 700;
				color: #58585b;
			}
		}
	}

	.actions {
		display: flex;
		flex-shrink: 0;
		height: 32px;
		color: var(--c-primary);

		.search {
			display: flex;
			padding: 4px;
			cursor: pointer;
			border-radius: 50%;
			transition: background-color 0.3s ease;
		}

		.action {
			height: 32px;
			margin-left: 20px;
			color: var(--c-primary);
			cursor: pointer;
		}
	}
}
