.home {
	height: 100%;

	.content {
		position: relative;
		box-sizing: border-box;
		flex: 1 1;
		height: 100%;
		padding-top: 28px;
		overflow: hidden;

		.file-drag-zone {
			position: relative;
			height: 100%;

			.page-content {
				height: 100%;
				overflow: hidden;

				.items-wrapper {
					position: relative;
					height: calc(100vh - 92px);
					padding: 0 10px 96px;
					overflow-y: auto;

					.items {
						display: flex;
						flex-wrap: wrap;
						justify-content: space-between;

						.empty-card {
							width: 160px;
							height: 0;
						}
					}
				}
			}

			.el-empty {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
			}
		}
	}
}

@media (max-width: 576px) {
	.home {
		.content {
			.file-drag-zone {
				.page-content {
					.items-wrapper {
						padding: 0 12px 96px;
					}
				}
			}
		}
	}
}
