.home {
	height: 100%;

	.content {
		position: relative;
		box-sizing: border-box;
		flex: 1 1;
		height: 100%;

		.file-drag-zone {
			position: relative;
			height: 100%;

			.page-content {
				.sub-nav-wrapper {
					position: sticky;
					top: 0;
					left: 0;
					z-index: 20;
					box-sizing: border-box;
					display: none;
					align-items: center;
					justify-content: space-between;
					width: 100%;
					height: 49px;
					background-color: #ffffff;
					border-bottom: 1px solid rgb(60 60 60 / 12%);
				}

				.items-wrapper {
					position: relative;
					box-sizing: border-box;
					min-height: calc(100vh - 55px);
					padding: 40px 10px 96px;

					.items {
						display: flex;
						flex-wrap: wrap;
						justify-content: space-between;

						.empty-card {
							width: 160px;
							height: 0;
						}
					}
				}
			}

			.el-empty {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
			}
		}
	}
}

@media (max-width: 576px) {
	.home {
		.content {
			.file-drag-zone {
				.page-content {
					.items-wrapper {
						min-height: calc(100vh - 104px);
						padding: 12px 12px 96px;
					}
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.home {
		.content {
			.file-drag-zone {
				.page-content {
					.sub-nav-wrapper {
						display: flex;
						padding: 0 24px;

						.breadcrumb-wrapper {
							padding-left: 0;
						}
					}
				}
			}
		}
	}
}
