.login {
	position: relative;
	inset: 0;
	height: 100vh;
	background-color: #ebedf0;

	.login-wrapper {
		position: relative;
		z-index: 3;
		box-sizing: border-box;
		max-width: 400px;
		margin: auto;
		color: #616870;
		text-align: left;
		background-color: #ebedf0;

		.logo-wrapper {
			display: flex;
			align-items: center;

			.logo {
				width: 30px;
				height: 30px;
				margin-right: 12px;
				background: url('@/assets/logo.svg') no-repeat;
				background-size: 100% 100%;
			}

			.name {
				font-size: 24px;
				font-weight: bold;
				color: #515559;
			}
		}
	}
}

@media (width <= 767px) {
	.login {
		.login-wrapper {
			display: flex;
			flex-direction: column;
			justify-content: center;
			min-height: 100%;
			padding: 24px 20px;
			background-color: #ebedf0;

			.logo-wrapper {
				display: flex;
				align-items: center;
				margin: 0 auto 24px;
			}
		}
	}
}

@media (width >= 768px) {
	.login {
		.login-wrapper {
			position: fixed;
			top: 50%;
			left: 50%;
			width: 92%;
			transform: translate(-50%, -50%);

			.logo-wrapper {
				position: absolute;
				bottom: 100%;
				left: 50%;
				transform: translate(-50%, -48px);
			}
		}
	}
}
