.move-dialog-wrapper {
	width: 440px;

	.el-dialog__body {
		padding: var(--el-dialog-padding-primary) 0 0;
	}

	.breadcrumb-wrapper {
		padding: 0 20px 16px;
	}

	.list {
		position: relative;
		box-sizing: border-box;
		height: 358px;
		overflow: auto;

		.empty {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			height: 100%;
			padding-top: 72px;
			font-size: 14px;
			color: rgb(37 38 43);

			.icon {
				width: 112px;
				height: 112px;
			}
		}
	}

	.action {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 68px;
		padding: 0 20px;

		.create {
			font-size: 14px;
			color: var(--el-color-primary);
			cursor: pointer;
		}
	}
}

@media (width <= 576px) {
	.move-dialog-wrapper {
		width: 340px;
	}
}
